In [2]:
import numpy as np
import pandas as pd

# df_test_v4_mean
- 테스트 데이터 중 정답 제출 양식에 맞는 데이터만 0인지, 1인지 모델 돌려서 predict하기 위한 데이터

In [3]:
df_test_v3_mean = pd.read_csv("./통합데이터/df_test_v3_mean.csv")
df_answer = pd.read_excel("./제출 양식/oceanUser.xlsx")

df_ulsan_answer = df_answer[(df_answer['AREA'] =='ULSAN')]

df = pd.merge(df_ulsan_answer, df_test_v3_mean, left_on = ['YEAR',	'MON',	'DAY',	'HOUR',	'MIN'], right_on = ['year', 'month', 'day', 'hour', 'min'], how ='left')
df.drop(columns=['AREA', 'NUM', 'YEAR', 'MON', 'DAY', 'HOUR', 'MIN', 'TARGET'], inplace=True)

# df.to_csv("../코드 정리/통합데이터/df_test_v4_mean.csv", index=False)

df

,year,month,day,hour,min,lat,lon,sog,cog,hdg,khnp_buoy.ws,khnp_buoy.wd,kma_lightbecon.ws,kma_lightbecon.wd,kma_pagobuoy.max_wh,kma_pagobuoy.sig_wh,kma_pagobuoy.mean_wh
0,2022,8,24,14,41,35.442761,129.415506,0.7,243.0,115.7,24.4,16,9.0,1.0,2.15,1.60,0.95
1,2022,8,24,14,42,35.442725,129.415286,0.9,257.5,117.7,24.4,16,8.9,1.0,2.15,1.60,0.95
2,2022,8,24,14,43,35.444704,129.416444,0.9,220.4,110.4,24.4,16,8.5,1.0,2.15,1.60,0.95
3,2022,8,24,14,44,35.442444,129.414789,0.8,206.7,103.8,24.4,16,9.3,1.0,2.15,1.60,0.95
4,2022,8,24,14,45,35.442223,129.414643,0.6,222.8,99.6,24.4,16,9.2,1.0,2.15,1.60,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51132,2023,1,17,19,44,35.456302,129.424155,0.1,325.8,312.0,8.0,1,11.4,15.0,0.89,0.69,0.42
51133,2023,1,17,19,50,35.456108,129.424060,0.3,71.3,338.0,16.4,2,11.8,15.0,0.89,0.69,0.42
51134,2023,1,17,19,56,35.456153,129.424177,0.1,195.9,325.0,10.9,2,12.5,15.0,0.89,0.69,0.42
51135,2023,1,17,19,59,35.456200,129.424007,0.1,274.4,324.0,16.2,1,11.4,15.0,0.89,0.69,0.42
51136,2023,1,17,20,5,35.456177,129.424080,0.3,150.6,326.0,16.9,2,11.5,15.0,0.89,0.69,0.42